/* color='#4743AF' */
/* '#4743AF', */
#main{
    color: #0600ad48;
    color: #0700c384;

    color: #020033;  

    color: #010021;
    color: #0e011b;
    background-color: #131231;
    background-color: #4743af5a;
}